
<div class="col-sm-12 pl-4 pr-5">
        <div class="col-sm-12">
            <h2 class="headerThree mb-3" style="font-weight:500">Review Consignment Details</h2>
        </div>
        <table class="table consignMentTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Product Details</th>
                    <th>Packaging Details</th>
                    <th>Pick Up Address</th>
                    <th>Pick Up Date</th>
                    <th>Delivery Address</th>
                    <th>Delivery Date</th>
                    <th>Number of Packed Units</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" rowspan="2" style="vertical-align: middle;">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="t1" name="example1">
                            <label class="custom-control-label" for="t1"></label>
                        </div>
                    </th>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>
                        <div class="tableEditDelete">
                            <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>
                        <div class="tableEditDelete">
                            <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="t3" name="example1">
                            <label class="custom-control-label" for="t3"></label>
                        </div>
                    </th>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>
                        <div class="tableEditDelete">
                            <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="t3" name="example1">
                            <label class="custom-control-label" for="t3"></label>
                        </div>
                    </th>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>
                        <div class="tableEditDelete">
                            <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="t3" name="example1">
                            <label class="custom-control-label" for="t3"></label>
                        </div>
                    </th>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>Lorem Ipsum</td>
                    <td>
                        <div class="tableEditDelete">
                            <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <!-- <div class="row">
            <div class="col-12 mt-3 mb-5 d-flex justify-content-between">
                <button class="commonBtn mt-4 mb-4 consignmentBtn1">Back</button>
                <button class="commonBtn mt-4 mb-4 consignmentBtn2" (click)="confirm()">Confirm Consignment</button>
            </div>
        </div> -->
    </div>