.table-image td,.table-image th{vertical-align:middle}
.tableEditDelete{width:40px}
.tableEditDelete span{display:inline-block;padding:0 3px;line-height:0;cursor:pointer}
.tableEditDelete span:first-child{border-right:solid 1px}
.consignMentTable thead th,.consignMentTable td{font-size:13px}
.rfQ{color:#2680EB;cursor:pointer}
.consignMentTable tbody tr{background: #EEEEEE;border-bottom: solid 2px #FFF;}
.consignMentTable tbody tr:nth-of-type(odd) {background: #F4F4F4;}
.consignMentTable th, .consignMentTable td{border-top: none;}
.customClose{position: absolute;right: 5px;top: 0px;z-index: 9;}
.prodAddBtn {
    color: #2680EB;
    font-size: 14px;
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
}
.prodAddBtn:hover {
    color: #F36F21;
}
.plusIcon {
    border-radius: 50%;
    border: solid 1px;
    height: 18px;
    width: 18px;
    text-align: center;
    font-size: 12px;
    padding: 3px 0;
    margin-right: 3px;
}