    <style>
    td{
        max-width:200px !important;
    }
    </style>
    <div class="col-sm-12 padding-0">
            <div class="col-sm-12">
                <h2 class="headerThree mb-3" style="font-weight:500">Review Consignment Details</h2>
                <p _ngcontent-ojh-c17="" class="prodAddBtn"><i _ngcontent-ojh-c17="" aria-hidden="true" class="fa fa-plus plusIcon"></i> Add Consignment</p>
            </div>
            <table class="table consignMentTable mt-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>Product Details</th>
                        <th>Packaging Details</th>
                        <th>Pick Up Address</th>
                        <th>Pick Up Date</th>
                        <th>Delivery Address</th>
                        <th>Delivery Date</th>
                        <th>Number of Packed Units</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" rowspan="2" style="vertical-align: middle;">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="t1" name="example1">
                                <label class="custom-control-label" for="t1"></label>
                            </div>
                        </th>
                        <td>
                            
                                    email: {{ parentForm.get('email').value }}
                                    <br>
                                    material: {{ parentForm.get('materials').value }}
                                    <br>
                                    productCategory: {{ parentForm.get('productCategory').value }}
                                    <br>
                                    productSubCategory: {{ parentForm.get('productSubCategory').value }}
                                    <br>
                               
                        </td>
                        <td>
                            
                                    package title: {{ parentForm.get('packageTitle').value}}
                                    <br>
                                    Quantity per Packed Unit: {{ parentForm.get('quantityPerPackedUnit').value}}
                                    <br>
                                    Number of Packed Units: {{ parentForm.get('numberOfPackedUnits').value}}
                                    <br>
                                    Weight of Packed Unit: {{ parentForm.get('weightOfPackedUnit').value}}
                                    <br>
                                    Unit Of Measure: {{ parentForm.get('unitOfMeasure').value}}
                                    <br>
                              
    
    
                        </td>
                        <td>
                                
                                            <!-- {{ parentForm.get('consignorAddress').value}} -->
                                       
                        </td>
                        <td>
                            
                                    <!-- {{ parentForm.get('pickupDate').value}}  -->
                               
                        </td>
                        <td>
                           <!-- {{ parentForm.get('consignorAddress1').value}} -->
                            
                        </td>
                       <td>
                            <!-- {{ parentForm.get('pickupDate1').value}} -->
                        </td>
                        <td>
                                    <!-- {{ parentForm.get('numberOfPackedUnits').value}} -->
                        </td>
                        <td>
                            <div class="tableEditDelete">
                                <span class="edtbtn" id="edtbtn"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                            </div>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>
                            <div class="tableEditDelete">
                                <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                            </div>
                        </td>
                    </tr> 
                   <tr>
                        <th scope="row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="t3" name="example1">
                                <label class="custom-control-label" for="t3"></label>
                            </div>
                        </th>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>
                            <div class="tableEditDelete">
                                <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="t3" name="example1">
                                <label class="custom-control-label" for="t3"></label>
                            </div>
                        </th>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>
                            <div class="tableEditDelete">
                                <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="t3" name="example1">
                                <label class="custom-control-label" for="t3"></label>
                            </div>
                        </th>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>Lorem Ipsum</td>
                        <td>
                            <div class="tableEditDelete">
                                <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                            </div>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    
    