<!-- <p>finance-service-provider works!</p> -->
<!-- third screen End-->
<div class="w-100 mt-3">
    <div class="col-sm-12">
        <h2 class="headerThree mb-3" style="font-weight:500">Select Service Provider</h2>
    </div>
    <table class="table consignMentTable col-12 mt-3">
        <!-- <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Distinct Materials</th>
                    <th>Date of Order</th>
                    <th>Billing Amount</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead> -->
        <tbody>
            <tr>
                <td>LTFS</td>
                <td class="font-weight-bold">LTFS at 12-15% at a TAT of 3 days<sup>*</sup></td>
                <td class="rfQ rfQDisabled" disabled>Send For Eligibility</td>
            </tr>
            <tr>
                <td>LTFS</td>
                <td class="font-weight-bold">LTFS at 12-15% at a TAT of 3 days<sup>*</sup></td>
                <td class="rfQ">Send For Eligibility</td>
            </tr>
            <tr>
                <td>LTFS</td>
                <td class="font-weight-bold">LTFS at 12-15% at a TAT of 3 days<sup>*</sup></td>
                <td class="rfQ">Send For Eligibility</td>
            </tr>
            <tr>
                <td>LTFS</td>
                <td class="font-weight-bold">LTFS at 12-15% at a TAT of 3 days<sup>*</sup></td>
                <td class="rfQ">Send For Eligibility</td>
            </tr>
            <tr>
                <td>LTFS</td>
                <td class="font-weight-bold">LTFS at 12-15% at a TAT of 3 days<sup>*</sup></td>
                <td class="rfQ">Send For Eligibility</td>
            </tr>
            <tr>
                <td>LTFS</td>
                <td class="font-weight-bold">LTFS at 12-15% at a TAT of 3 days<sup>*</sup></td>
                <td class="rfQ">Send For Eligibility</td>
            </tr>

        </tbody>
    </table>
    <p class="tnC"><sup>*</sup> Post your submission, you will recieve status of submitted documents from financier.</p>
    <p class="tnC"><sup>**</sup> Our details will be sent to service provider and the service provider will reach out to
        you within mentioned TAT. The terms and conditions are applicable as mentioned in e-mail sent to you.</p>
    <div class="row">
        <div class="col-12 mt-3 mb-5 d-flex justify-content-between">
            <button class="commonBtn mt-4 mb-4 consignmentBtn1">Back</button>
            <button class="commonBtn mt-4 mb-4 consignmentBtn2 btn btn-secondary btn-lg" disabled>View Status</button>
        </div>
    </div>
</div>
<!-- third screen End-->