<div class="w-100 mt-3" >
        <div class="col-sm-12">
            <h2 class="headerThree mb-3" style="font-weight:500">View Status</h2>
            <p class="d-flex align-items-baseline" style="font-size: 15px;">Order ID: <b><div class="form-group col-12">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>#######</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div></b></p>
            
        </div>
        <table class="table consignMentTable col-12 mt-3 text-center">
            <thead>
                <tr>
                    <th></th>
                    <th>LTFS</th>
                    <th>ABC</th>
                    <th>DEF</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-left"><b>Application ID</b></td>
                    <td>##########</td>
                    <td>##########</td>
                    <td>##########</td>                        
                </tr>
                <tr style="border-bottom: 0;" id="tableAccordionClick" >
                    <td class="text-left"><b>Documents Validated</b></td>
                    <td>Validated<br>Expected TAT: 2 Days</td>
                    <td>Pending</td>
                    <td>Pending <i class="fa fa-chevron-down tableAccordionArrow" aria-hidden="true"></i></td>
                    
                </tr>
                <tr class="w-100 tableAccordion" id='tableAccordion'>
                    <td colspan="4" class="padding-0 innerTable">
                        <table class="col-12">
                            <tbody>
                                <tr class="tableTrbgColor">
                                    <td class="text-left">Personal PAN</td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                </tr>
                                <tr class="tableTrbgColor">
                                    <td class="text-left">Company PAN</td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                </tr>
                                <tr class="tableTrbgColor">
                                    <td class="text-left">GSTIN</td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/pending.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                </tr>
                                <tr class="tableTrbgColor">
                                    <td class="text-left">ITR</td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/reSubmit.svg" class="img-responsive" width="15" height="15"></td>
                                </tr>
                                <tr class="tableTrbgColor">
                                    <td class="text-left">Bank Statement</td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/pending.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/pending.svg" class="img-responsive" width="15" height="15"></td>
                                </tr>
                                <tr class="tableTrbgColor">
                                    <td class="text-left">GSTR</td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/reSubmit.svg" class="img-responsive" width="15" height="15"></td>
                                </tr>
                                <tr class="tableTrbgColor">
                                    <td class="text-left">Home Address</td>
                                    <td><img alt="Logo" src="../../../../assets/images/notRequired.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/notRequired.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/reSubmit.svg" class="img-responsive" width="15" height="15"></td>
                                </tr>
                                <tr class="tableTrbgColor">
                                    <td class="text-left">Office Address</td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/pending.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/reSubmit.svg" class="img-responsive" width="15" height="15"></td>
                                </tr>
                                <tr class="tableTrbgColor">
                                    <td class="text-left">Permanent Address</td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/reSubmit.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/reSubmit.svg" class="img-responsive" width="15" height="15"></td>
                                </tr>
                                <tr class="tableTrbgColor">
                                    <td class="text-left">FI</td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/submitted.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/notRequired.svg" class="img-responsive" width="15" height="15"></td>
                                </tr>
                                <tr class="tableTrbgColor">
                                    <td class="text-left">PD</td>
                                    <td><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/submitted.svg" class="img-responsive" width="15" height="15"></td>
                                    <td><img alt="Logo" src="../../../../assets/images/submitted.svg" class="img-responsive" width="15" height="15"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="w-100 d-flex mt-5 mb-3 justify-content-between align-items-center">
                            <div class="col-4 padding-0">
                                <div class="col-sm-8 custom-file customFile">
                                    <input type="file" class="custom-file-input customFileInput" id="customFile">
                                    <label class="custom-file-label customFileLabel text-left" for="customFile"><i class="fa fa-upload customFileIcon tableCustomFileIcon" aria-hidden="true"></i></label>
                                </div>
                            </div>
                            <div class="col-7 statusView text-right ">
                                <span><img alt="Logo" src="../../../../assets/images/validated.svg" class="img-responsive" width="15" height="15"> Validated</span>
                                <span><img alt="Logo" src="../../../../assets/images/reSubmit.svg" class="img-responsive" width="15" height="15"> Re-Submit</span>
                                <span><img alt="Logo" src="../../../../assets/images/pending.svg" class="img-responsive" width="15" height="15"> Pending</span>
                                <span><img alt="Logo" src="../../../../assets/images/submitted.svg" class="img-responsive" width="15" height="15"> Submitted</span>
                                <span><img alt="Logo" src="../../../../assets/images/notRequired.svg" class="img-responsive" width="15" height="15"> Not Required</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="border-top: solid 4px #FFF;">
                    <td class="text-left"><b>Additional Details Required</b></td>
                    <td></td>
                    <td>Approval Pending</td>
                    <td>Approval Pending</td>
                </tr>
                <tr>
                    <td  colspan="2" class="text-left">
                        <div class="w-100 d-flex">
                            <div class="col-6 padding-0">
                                <p><b>Sanctioned Amount</b></p>
                                <p class="mb-0"><b>Tenure</b></p>
                            </div>
                            <div  class="col-6 text-center">
                                <p>Rs 10,000</p>
                                <p class="mb-0">4 years</p>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- <tr>
                    <td class="text-left"><b>Tenure</b></td>
                    <td>4 years</td>
                    <td></td>
                    <td></td>
                </tr> -->
                <tr>
                    <td class="text-left"><b></b></td>
                    <td colspan="3">
                        <div class="w-100 d-flex">
                            <div class="col-4">
                                <div class="w-100">
                                    <button class="commonBtn mt-2 mb-2 commonBtnTable" data-toggle="modal" data-target="#acceptModal">Accept</button><br>
                                    <button class="commonBtn mt-2 mb-2 commonBtnTransparent commonBtnTable" data-toggle="modal" data-target="#rejectModal">Reject</button>
                                </div>
                                <p class="mt-3" style="display: none;"><b>Accepted</b></p>
                            </div>
                            <!-- <div class="col-4">
                                <button class="commonBtn mt-2 mb-2 commonBtnTable btn-secondary" disabled>Accept</button><br>
                                <button class="commonBtn mt-2 mb-2 commonBtnTable btn-secondary" disabled>Renegotiate</button>
                            </div>
                            <div class="col-4">
                                <button class="commonBtn mt-2 mb-2 commonBtnTable btn-secondary" disabled>Accept</button><br>
                                <button class="commonBtn mt-2 mb-2 commonBtnTable btn-secondary" disabled>Renegotiate</button>
                            </div> -->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left"><b>Status</b></td>
                    <td>Sanctioned</td>
                    <td>Pre-sanctioned</td>
                    <td></td>
                </tr>
    
            </tbody>
        </table>
        <form [formGroup]="nomineeDetailsForm" (ngSubmit)="onSubmit()">
            <div class="w-100 mt-4">
                <div class="custom-control custom-checkbox col">
                    <input type="checkbox" formControlName="availCLI" class="custom-control-input" id="availCLI" name="availCLI">
                    <label class="custom-control-label customCheckBTn" style="font-size: 1rem;" for="availCLI">I wish to avail Credit Linked Insurance (CLI)</label>
                </div>
            </div>
            <div class="w-100 mt-4 disabeWholeForm">
                <p>Please enter Credit Linked Insurance (CLI) details</p>
                <div class="col-12 padding-0">
                    <h5 style="position: relative;font-size: 16px;">Nominee Details<p style="color: #2680EB;font-size: 14px;position: absolute;right: 0;top: 0;"><i aria-hidden="true" class="fa fa-plus plusIcon"></i> Add Nominee</p></h5>
                    <div class="row mt-4">
                        <div class="col-4">    
                            <div class="form-group customMargin">
                                <label for="name"><sup class="redDanger">*</sup>Name </label>
                                <input type="text" class="form-control" formControlName="name"
                                    aria-describedby="nomineeName" placeholder="Name" name="name">
                            </div>
                            <div class="form-group customMargin">
                                <label for="relation"><sup class="redDanger">*</sup>Relation</label>
                                <input type="text" class="form-control" formControlName="relation"
                                    aria-describedby="relation" placeholder="Relation" name="relation">
                            </div>
                        </div>
                        <div class="col-2">    
                            <div class="form-group customMargin">
                                <label><sup class="redDanger">*</sup>Date Of Birth</label>
                                <input type="date" class="form-control" formControlName="dateOfBirth"
                                    aria-describedby="dateOfBirth" placeholder="" name="dateOfBirth">
                            </div>
                            <div class="form-group customMargin">
                                <label><sup class="redDanger">*</sup>Percentage Share</label>
                                <input type="text" class="form-control" formControlName="percentageShare"
                                    aria-describedby="percentageShare" placeholder="Percentage" name="percentageShare">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="custom-control custom-checkbox col">
                    <input type="checkbox" class="custom-control-input" id="diseases" name="diseases" formControlName="diseases">
                    <label class="custom-control-label customCheckBTn" style="font-size: 1rem;" for="diseases">No Case of diabetes, thyroid, low / high blood pressure, heart attack / diseases,<br> chest pain, stroke, epilopsy</label>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12 mt-3 mb-5 d-flex justify-content-between">
                    <button class="commonBtn">Submit</button>
                </div>
            </div>
        </form>
        <div class="col-12 padding-0">
            <p>Nominee Details</p>
        </div>
        <table class="table col-6 mt-3 consignMentTableNominee text-left table-borderless">
            <thead>
                <tr>
                    <th><sup class="redDanger">*</sup>Name</th>
                    <th><sup class="redDanger">*</sup>Date of Birth</th>
                    <th><sup class="redDanger">*</sup>Relation</th>
                    <th><sup class="redDanger">*</sup>Percentage Share</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ram Prasad</td>
                    <td>DD-MM-YYYY</td>
                    <td>Father</td>
                    <td>40%</td>
                </tr>
                <tr>
                    <td>Sita Prasad</td>
                    <td>DD-MM-YYYY</td>
                    <td>Mother</td>
                    <td>60%</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-12 mt-3 mb-5 justify-content-between">
                <h4 style="color: #F36F21;font-weight: 600;">Thank you for accepting the offer!</h4>
                <h5>LTFS team will be shortly reaching out to you to take the process forward</h5>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12 mt-3 mb-5 d-flex justify-content-between">
                <button class="commonBtn mt-4 mb-4 commonBtnTransparent">Back</button>
            </div>
        </div> -->
    </div>
    
    <div class="modal fade acceptModal" id="acceptModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content justify-content-center">
                <div class="modal-body text-center d-flex flex-wrap justify-content-center">
                    <h5>Are you sure you want to Accept?</h5>
                    <div class="w-100 mt-3 mb-3 modalDetailPara">
                        <p>Amount: 9,00,000</p>
                        <p>Tenure: 24 Months</p>
                        <p>Rate Of Interest: 13%</p>
                    </div>
                    <div class="w-100 mt-3">
                        <button class="commonBtn commonBtnTable commonBtnTransparent m-1" data-dismiss="modal">Cancel</button>
                        <button class="commonBtn commonBtnTable m-1">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade rejectModal" id="rejectModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content justify-content-center">
                <div class="modal-body text-center d-flex flex-wrap justify-content-center">
                    <h5>Are you sure you want to Reject?</h5>
                    <div class="w-100 mt-3">
                        <button class="commonBtn commonBtnTable commonBtnTransparent m-1" data-dismiss="modal">Cancel</button>
                        <button class="commonBtn commonBtnTable m-1">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>