<table class="table table-striped">
        <thead>
          <tr>
            <th>Service Provider Name</th>
            <th>Price</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>TVSL</td>
            <td>Request For Quotation</td>
            <td>Price awaited</td>
          </tr>
          <tr>
            <td>DEF</td>
            <td>Rs 16, 876</td>
            <td></td>
          </tr>
          <tr>
            <td>GHI</td>
            <td>Rs 16, 876</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <button (click)="onPrevious()">Previous</button>