<div class="col-sm-10 pl-4 pr-5" >
    <app-stepper></app-stepper>
    <div class="col-sm-12">
        <h2 class="headerThree mb-3" style="font-weight:500">Select Service Provider</h2>
    </div>
    <table class="table consignMentTable table-striped mt-5">
        <thead>
            <tr>
                <th></th>
                <th>Service Provider Name</th>
                <th>Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" style="vertical-align: middle;">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="ss1" name="example1">
                        <label class="custom-control-label" for="ss1"></label>
                    </div>
                </th>
                <td>TVSL</td>
                <td class="rfQ" data-toggle="modal" data-target="#myModal">Request For Quotation</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row" style="vertical-align: middle;">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="ss2" name="example1">
                        <label class="custom-control-label" for="ss2"></label>
                    </div>
                </th>
                <td>DEF</td>
                <td>Rs. 6,78,902</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row" style="vertical-align: middle;">
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="ss3" name="example1">
                        <label class="custom-control-label" for="ss3"></label>
                    </div>
                </th>
                <td>GHI</td>
                <td>Rs. 6,78,902</td>
                <td></td>
            </tr>

        </tbody>
    </table>
    <div class="row">
        <div class="col-12 mt-3 mb-5 d-flex justify-content-between">
            <button class="commonBtn mt-4 mb-4 consignmentBtn1">Back</button>
            <button class="commonBtn mt-4 mb-4 consignmentBtn2">Confirm Consignment</button>
        </div>
    </div>
</div>