<table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Service Provider Name</th>
            <th>Price</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody *ngFor = "let serviceProvider of serviceProviders">
          <tr>
            <td><input type="checkbox" name="name1"/>&nbsp;</td>
            <td>{{serviceProvider.serviceProviderName}}</td>
            <!-- <td>{{consignmentReview.price}}</td> -->
            <td>
              <div id="lbl" *ngIf="serviceProvider.price == 'Request for Quotation'" (click)="requestForQuotation()" [style.color]="'blue'" style="min-width: 200px; cursor: pointer;">{{serviceProvider.price}}</div>
              <div *ngIf="serviceProvider.price != 'Request for Quotation'">{{serviceProvider.price}}</div>
            </td>
            <td>{{serviceProvider.status}}</td>
          </tr>
        </tbody>
      </table>
      <!-- <button (click)="onPrevious()">Previous</button> -->