<!-- Landing Page -->
<!-- <div class="col-sm-10 float-right" style="display: none;"> -->
<!-- <div class="col-sm-10">
    <div class="bannerDiv row">
        <div class="col-12 padding-0">
            <img src="../../../../assets/images/banner-logistics.png" class="img-fluid bannerImg" alt="banner" />
            <div class="bannerDivContent">
                <h3 class="bannerDivH3 headerOne">Welcome to</h3>
                <h1 class="bannerDivH1">Financing Solutions</h1>
                <button class="commonBtn mt-3" >Avail Now</button>
            </div>
        </div>
    </div>
    <div class="row overView">
        <div class="col-2">
            <img src="../../../../assets/images/noun_Laptop_2215152.svg" alt='laptop' />
            <h6>Extensive Coverage</h6>
            <p>Lorem Ipsum easy process finance</p>
        </div>
        <div class="col-2">
            <img src="../../../../assets/images/noun_fast_2556741.svg" alt='time' />
            <h6>Live Tracking</h6>
            <p>Lorem Ipsum easy process finance</p>
        </div>
        <div class="col-2">
            <img src="../../../../assets/images/noun_guarantee_740914.svg" alt='guarantee' />
            <h6>Greater Choice</h6>
            <p>Lorem Ipsum easy process finance</p>
        </div>
    </div>
    <div class="row overViewTwo justify-content-center">
        <div class="col-8 text-center">
            <h2 class="headerOne">Come, Discover Finance opportunities with us !</h2>
            <p>Choose from a number of Integrated Logistics Solution providers to<br> enjoy a seamless experience with
                the added benefit of live tracking<br> your consignment.</p>
        </div>
    </div>
</div> -->
<!-- Landing Page End -->
<div class="row">
        <div class="col-sm-12 float-right">
                <div class="bannerDiv row">
                <div class="col-12 padding-0">
                <img src="../../../../assets/images/banner-logistics.png" class="img-fluid bannerImg" alt="banner" />
                <div class="bannerDivContent">
                <h3 class="bannerDivH3 headerOne">Welcome to</h3>
                <h1 class="bannerDivH1">Financing Solutions</h1>
                <button class="commonBtn mt-3" (click)="onClick()">Avail Now</button>
                </div>
                </div>
                </div>
                <div class="row overView">
                <div class="col-2">
                <img src="../../../../assets/images/noun_Laptop_2215152.svg" alt='laptop' />
                <h6>Extensive Coverage</h6>
                <p>Lorem Ipsum easy process finance</p>
                </div>
                <div class="col-2">
                <img src="../../../../assets/images/noun_fast_2556741.svg" alt='time' />
                <h6>Live Tracking</h6>
                <p>Lorem Ipsum easy process finance</p>
                </div>
                <div class="col-2">
                <img src="../../../../assets/images/noun_guarantee_740914.svg" alt='guarantee' />
                <h6>Greater Choice</h6>
                <p>Lorem Ipsum easy process finance</p>
                </div>
                </div>
                <div class="row overViewTwo justify-content-center">
                <div class="col-8 text-center">
                <h2 class="headerOne">Come, Discover Finance opportunities with us !</h2>
                <p>Choose from a number of Integrated Logistics Solution providers to<br> enjoy a seamless experience with
                the added benefit of live tracking<br> your consignment.</p>
                </div>
                </div>
               </div>
</div>
