<script src="../../../assets/scripts/steps.js"></script>
<div class="col-sm-10 pl-5 pr-5">
<div class="row breadCrumbs mt-3">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb padding-0">
                <li class="breadcrumb-item">
                    <a href="#">Marketplace</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Logistics</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">Create Order</li>
            </ol>
        </nav>
    </div>
</div>
<form action="" [formGroup]="parentForm" class="" method="get" id="createMainForm" (ngSubmit)="onSubmit(parentForm)">
    <!-- Progress Bar -->
    <ul id="progressbar padding-0">
    <div class="row">
        <div class="col-9 mb-3">
            <h1 class="headerThree" style="font-weight:600">Create Order</h1>
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step col-xs-3 active stepicon step1"> 
                        <a href="" class="btn-circle"><span class="activeCircle">1</span></a>
                        <p><small>Select Services</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3 stepicon step2">
                        <a href="" class="btn-circle" disabled="disabled"><span>2</span></a>
                        <p><small>Consignment Details</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3 stepicon step3"> 
                        <a href="" class="btn-circle" disabled="disabled"><span>3</span></a>
                        <p><small>Consignment Review</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3 stepicon step4"> 
                        <a href="" class="btn-circle" disabled="disabled"><span>4</span></a>
                        <p><small>Place Order</small></p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    
    </ul>
    <hr>
    <!-- Fieldsets -->
    <fieldset id="first">
    <app-service-request [parentForm] = "parentForm"></app-service-request>
    <input class="next_btn nxtbtn1 commonBtn mt-4 mb-5 fright" name="next" type="button" value="Proceed">
    </fieldset>
    <fieldset>
        <app-consignment  [parentForm] = "parentForm" ></app-consignment>
        <input class="pre_btn prevbtn1  commonBtn mt-4 mb-5 consignmentBtn1" name="previous" type="button" value="Back">
        <input class="next_btn nxtbtn2 commonBtn mt-4 mb-5 consignmentBtn2 fright" name="next" type="button" value="Add Consignment Order" (click)="onSubmit()">
    </fieldset>
    <fieldset>
        <app-consignment-review  [parentForm] = "parentForm"></app-consignment-review>
        <input class="pre_btn prevbtn2 commonBtn mt-4 mb-5 consignmentBtn1" id="editbkbtn" name="previous" type="button" value="Back">
        <input class="next_btn nxtbtn3 commonBtn  mt-4 mb-5 fright" name="next" type="button" value="Proceed">
    </fieldset>
    <fieldset>
        <app-service-provider></app-service-provider>
        <input class="pre_btn prevbtn3 commonBtn  mt-4 mb-5 " type="button" value="Previous">
        <input class="submit_btn commonBtn  mt-4 mb-5 fright paymentbtn" type="submit" value="Proceed to payment" (click)="onSubmit()">
        <pre id="output"></pre>
    </fieldset>
    </form>
</div>