<script src="../../../assets/scripts/steps.js"></script>

<form action="" [formGroup]="createMainForm" class="regform" method="get"  (ngSubmit)="onSubmit()">
    <!-- Progress Bar -->
    <ul id="progressbar">
    <!-- <li class="active stepicon">1</li>
    <li class="stepicon">2</li>
    <li class="stepicon">3</li>
    <li class="stepicon">4</li> -->
    <div class="row">
        <div class="col-9 mb-3">
            <h1 class="headerThree" style="font-weight:600">Create Order</h1>
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step col-xs-3 active stepicon"> 
                        <a href="" class="btn-circle"><span class="activeCircle">1</span></a>
                        <p><small>Select Services</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3 stepicon">
                        <a href="" class="btn-circle" disabled="disabled"><span>2</span></a>
                        <p><small>Consignment Details</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3 stepicon"> 
                        <a href="" class="btn-circle" disabled="disabled"><span>3</span></a>
                        <p><small>Consignment Review</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3 stepicon"> 
                        <a href="" class="btn-circle" disabled="disabled"><span>4</span></a>
                        <p><small>Place Order</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </ul>
    <hr>
    <!-- Fieldsets -->
    <fieldset id="first">

    <app-service-request></app-service-request>
    <input class="next_btn commonBtn mt-5 fright" name="next" type="button" value="Proceed">
    </fieldset>
    <fieldset>

    <app-consignment></app-consignment>
    <input class="pre_btn commonBtn mt-4 mb-4 consignmentBtn1" name="previous" type="button" value="Back">
    <input class="next_btn commonBtn mt-4 mb-4 consignmentBtn2 fright" name="next" type="button" value="Add Consignment Order">

    </fieldset>
    <fieldset>

        <app-consignment-review></app-consignment-review>
        <input class="pre_btn commonBtn mt-4 mb-4 consignmentBtn1" name="previous" type="button" value="Back">
        <input class="next_btn commonBtn mt-5 fright" name="next" type="button" value="Proceed">
    </fieldset>
    <fieldset>

        <app-service-provider></app-service-provider>
        <input class="pre_btn commonBtn mt-4 mb-4 consignmentBtn1" name="previous" type="button" value="Back">
        <input class="next_btn commonBtn mt-5 fright paymentbtn" name="next" type="button" value="Proceed to payment">
    </fieldset>
    <fieldset>

    <p>Enter submit to place order!</p>
    <input class="pre_btn commonBtn mt-5 " type="button" value="Previous">
    <input class="submit_btn commonBtn mt-5 fright" type="submit" value="Submit">
    </fieldset>
    </form>