header .adDiv{background:#4B4B4B}
header{position:fixed;width:100%;left:0;height:115px;top:0;z-index:3;background:#FFF;z-index: 4;}
.cartDiv button{color:#000;text-align:left;font-weight:700}
.removeBtnColor{color:#FFF;opacity:.7;cursor:pointer}
.logoDiv,.productDiv{float:left;padding-right:2.3rem}
.navDiv{height:70px}
.searchInput,.searchInput:focus{background:transparent;outline:none!important;border-bottom:solid 2px #000;border-radius:0;border-left:none;border-right:none;border-top:none;box-shadow:none;color:#000}
.searchBtn{background:transparent;color:#000;border:none;border-radius:0;outline:none;border-bottom:solid 2px #000;cursor:pointer}
.sectionOne{margin-top:115px}
.dashboardPadding{padding-left: 7rem !important;padding-right: 7rem !important;font-size: 14px;}
.customFileInput{cursor: pointer}
.customFileLabel{border: none;background: transparent;width: 100%;cursor: pointer;z-index: 2;}
.customFileInput:lang(en)~.customFileLabel::after{content: 'Download Document';border: 2px solid #F36F21;border-radius: 24px;color: #FFF;width: 100%;text-align: center;cursor: pointer;background: #F36F21;height: 100%;}
.customFileIcon{color: #FFF;z-index: 4;position: relative;left: 25px;top: 3px;}
.customFileInput:lang(en)~.customFileLabel:hover:after{border-color: #F36F21;background-color: #FFF;color: #F36F21;}
.customFileInput:lang(en)~.customFileLabel:hover .customFileIcon{color: #F36F21;}



.docCheckWrap{font-size: 13px;}
.custom-control-input:checked~.customCheckBTn::before {color: #000;border-color: #F36F21;background-color: #F36F21;}
.customCheckBTn::before, .customCheckBTn::after{top:2px}
.checkedDiv{background: #FFF;border: 1px solid #ced4da;display: flex;align-items: center;padding: .5rem 1.2rem;width: 55px;height: 33px;}
.statusBtn .commonBtn{width: 19% !important;padding: 0;font-size: 12px;height: 30px;}
.commonBtn svg{height: 14px;width: 14px;fill: #f36f21;margin-right: 4px;}
.statusBtn .commonBtn:hover svg{fill: #ffffff;}

.uploadSanction:lang(en)~.customFileLabel::after{content: 'Upload Sanction Letter';}
.uploadSanctionIcon{left: 25px;}