<div class="row mt-3 checkBoxesDiv">
    <div class="col-sm-12">
        <h2 class="headerThree mb-3" style="font-weight:500">Select Services Required</h2>
        <div class="">
            <div class="col-12 checkBoxesDivWrap">
                <form action="" [formGroup]="parentForm" method="get">
                    <label class="container">Transportation
                        <input type="checkbox" formControlName="transportationChk" >
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Packaging
                        <input type="checkbox" formControlName="packingChk">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Warehousing
                        <input type="checkbox" formControlName="warehouseChk">
                        <span class="checkmark"></span>
                    </label>
                </form>
            </div>
        
        </div>
    </div>
</div>