<div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                <h5 class="mb-0">
                    <i class="fa fa-info float-left infoIcon" aria-hidden="true"></i>Enter Product Details <i class="fa fa-angle-down rotate-icon"></i>
                </h5>
            </a>
            <p class="prodAddBtn"><i class="fa fa-plus plusIcon" aria-hidden="true"></i> Add Product</p>
        </div>
    
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
        data-parent="#accordionEx1">
            <div class="card-body">
                <div class="row">
                    <form [formGroup]="productDetailForm" method="get" class="w-100 d-flex">
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <p class="mb-3">Product Image</p>
                                <img src="/src/assets/images/product-image.png" alt="product image" class="img-fluid formProdImg"/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Additional Remarks</label>
                                <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text redDanger">We'll never share your email with anyone else.</small>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group customMargin">
                                <label for="exampleFormControlSelect1">Product Category</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option disabled>Autofill</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group customMargin">
                                <label for="exampleFormControlSelect1">Product Sub-category</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option disabled>Autofill</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group customMargin">
                                <label for="exampleFormControlSelect1"><sup class="redDanger">*</sup>Distinct Materials</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option disabled>Autofill</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>