<!-- <p>finance-documents works!</p> -->

<!-- Second screen-->
<div class="row mt-3">
    <div class="col-sm-12">
        <h2 class="headerThree mb-3" style="font-weight:500">Upload Document</h2>
    </div>
    <div class="col-sm-12">
        <div class="col-12 mb-4" style="background:#F9F9F9;padding: 1.25rem;">
            <p class="slPara">Business Details</p>
            <form>
                <div class="d-flex w-100 align-items-start border-b">
                    <div class="row">
                        <div class="col-12 col-sm-5">
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Borrower's Name</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                            </div>
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Mother's Name</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                            </div>
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Email ID</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                            </div>
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Educational
                                    Qualification</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                            </div>
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Home Address</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                                <div class="w-100 mt-2">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="customRadio5"
                                            name="example1" value="customEx">
                                        <label class="custom-control-label customRadioBTn"
                                            for="customRadio5">Owned</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="customRadio6"
                                            name="example1" value="customEx">
                                        <label class="custom-control-label customRadioBTn"
                                            for="customRadio6">Rented</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Office Address</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                                <div class="w-100 mt-2">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="customRadio7"
                                            name="example1" value="customEx">
                                        <label class="custom-control-label customRadioBTn"
                                            for="customRadio7">Owned</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="customRadio8"
                                            name="example1" value="customEx">
                                        <label class="custom-control-label customRadioBTn"
                                            for="customRadio8">Rented</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>GSTIN</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Auto fill">
                            </div>
                        </div>
                        <div class="col-12 col-sm-5">
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Father's Name</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                            </div>
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Mobile Name</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                            </div>
                            <div class="form-group customMargin">
                                <label for="exampleFormControlSelect1">Gender</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Transgender</option>
                                </select>
                            </div>
                            <div class="form-group customMargin customMargin2">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Communication Address</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                                <div class="w-100 mt-2 d-flex">
                                    <div class="custom-control custom-checkbox col">
                                        <input type="checkbox" class="custom-control-input" id="customCheck"
                                            name="example1">
                                        <label class="custom-control-label customCheckBTn" for="customCheck">Select if
                                            communication address is same as permanent home address</label>
                                    </div>
                                    <div class="custom-control custom-checkbox col">
                                        <input type="checkbox" class="custom-control-input" id="customCheck3"
                                            name="example1">
                                        <label class="custom-control-label customCheckBTn" for="customCheck3">Select if
                                            communication address is same as permanent office address</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group-inline customMargin col">
                                    <label for="PackageTitle"><sup class="redDanger">*</sup>Date of Incoporation</label>
                                    <input type="date" class="form-control" id="PackageTitle" placeholder="Enter">
                                </div>
                                <div class="form-group-inline customMargin col padding-0">
                                    <label for="PackageTitle">Number of Employees</label>
                                    <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 align-items-start border-b mt-4">
                    <div class="row w-100">
                        <div class="col-12 col-sm-5">
                            <div class="form-group customMargin">
                                <label for="exampleFormControlSelect1"><sup class="redDanger">*</sup>Nature of
                                    Business</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group customMargin">
                                <label for="exampleFormControlSelect1"><sup class="redDanger">*</sup>Sector</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group customMargin">
                                <label for="exampleFormControlSelect1"><sup class="redDanger">*</sup>Industry</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group customMargin">
                                <label for="exampleFormControlSelect1"><sup class="redDanger">*</sup>Sub
                                    Industry</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
            <div class="d-flex w-100 flex-wrap align-items-start border-b mt-4">
                <div class="row w-100">
                    <div class="col-12 col-sm-5">
                        <div class="form-group customMargin">
                            <label for="exampleFormControlSelect1"><sup class="redDanger">*</sup>Type of
                                ownership</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle"><sup class="redDanger">*</sup>Partnership%</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                    </div>
                </div>
                <div class="row w-100">
                    <form class="w-100 d-flex flex-wrap">
                        <div class="col-12">
                            <p class="customMargin" style="color: #2680EB;font-size: 14px;"><i aria-hidden="true"
                                    class="fa fa-plus plusIcon"></i> Add Partner Details</p>
                        </div>
                        <div class="col-12 col-sm-5">
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Name</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                            </div>
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Mobile</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                            </div>
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Partnership%</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                            </div>
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Personal Address</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                            </div>
                        </div>
                        <div class="col-12 col-sm-5">
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Email</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                            </div>
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Pan Card</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                            </div>
                            <div class="form-group customMargin">
                                <label for="PackageTitle"><sup class="redDanger">*</sup>Communication Address</label>
                                <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                                <div class="w-100 mt-2 d-flex">
                                    <div class="custom-control custom-checkbox col-8">
                                        <input class="custom-control-input" id="customCheck0" name="example1"
                                            type="checkbox">
                                        <label class="custom-control-label customCheckBTn" for="customCheck0">Select if
                                            communication address is same as permanent home address</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12">
                            <button class="commonBtn mb-4 commonBtnTransparent">Save Details</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-start mt-4">
                <p>Please Upload all supporting documents for checking for availing financing. click <i
                        aria-hidden="true" class="fa fa-info infoIcon" data-toggle="tooltip" data-placement="bottom"
                        title="Check more information"></i> for more details.</p>
                <div class="col-6 padding-0">
                    <form action="">
                        <div class="form-group row align-items-center">
                            <label for="staticEmail" class="col-sm-5 col-form-label">Supporting Documents</label>
                            <div class="col-sm-4 custom-file customFile">
                                <input type="file" class="custom-file-input customFileInput" id="customFile">
                                <label class="custom-file-label customFileLabel" for="customFile"><i
                                        class="fa fa-upload customFileIcon" aria-hidden="true"></i></label>
                            </div>
                            <div class="col-2 text-center">
                                <i aria-hidden="true" class="fa fa-info infoIcon" data-toggle="tooltip"
                                    data-placement="bottom" title="Check more information"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3 mb-5 d-flex justify-content-between">
                <button class="commonBtn mt-4 mb-4 consignmentBtn1">Back</button>
                <button class="commonBtn mt-4 mb-4 consignmentBtn2">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- Second screen End-->