<!--Stepper-->
<div class="row">
    <div class="col-9 mb-3">
        <h1 class="headerThree" style="font-weight:600">Financing Options</h1>
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step col-xs-3 stepicon step1">
                    <a href="#step-1" class="btn-circle">
                        <span class="activeCircle">1</span>
                    </a>
                    <p>
                        <small>Choose Financing Options</small>
                    </p>
                </div>
                <div class="stepwizard-step col-xs-3  stepicon step2">
                    <a href="#step-2" class="btn-circle" disabled="disabled">
                        <span>2</span>
                    </a>
                    <p>
                        <small>Upload Document</small>
                    </p>
                </div>
                <div class="stepwizard-step col-xs-3  stepicon step3">
                    <a href="#step-3" class="btn-circle" disabled="disabled">
                        <span>3</span>
                    </a>
                    <p>
                        <small>Select Service Provider</small>
                    </p>
                </div>
                <div class="stepwizard-step col-xs-3  stepicon step4">
                    <a href="#step-4" class="btn-circle" disabled="disabled">
                        <span>4</span>
                    </a>
                    <p>
                        <small>View Status</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- stepper end -->