.stepwizard-step p {
    margin-top: 0px;
    color:#666;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 80%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle{
    width: 60px;
    text-align: center;
    background: #FFF;
    display: inline-block;
    pointer-events: none;
}
.btn-circle span {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
    background: #FFF;
    display: inline-block;
    border: solid 1px #BBBBBB;
    color: #BBBBBB;
    text-decoration: none !important;
}
.activeCircle{
    border: solid 1px #F36F21 !important;
    color: #F36F21 !important;
}