<header>
    <div class="row adDiv">
        <div class="col-12 col-sm-4">
            <marquee behavior="" direction="left" class="mt-2 mb-2 d-flex">Popular Deals in the Cables & Accessories section .</marquee>
        </div>
        <div class="col-12 col-sm d-flex justify-content-end">
            <div class="row">
                <ul class="adWrap">
                    <li>
                        <span>
                            <img src="../../../assets/images/star.svg" alt="Advertise with us">
                        </span> Advertise with Us
                    </li>
                    <li>
                        <span>
                            <img src="../../../assets/images/placeholder.svg" alt="track order">
                        </span> Track Order
                    </li>
                    <li>
                        <button class=" removeBtnColor" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contact Us
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row navDiv align-items-center">
        <div class="col-sm-4">
            <div class="logoDiv">
                <a href="">
                    <img src="../../../assets/images/Logo.svg" alt="Logo" />
                </a>
            </div>
            <div class="productDiv">
                <button class=" removeBtnColor" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" *ngFor="let product of slides">{{product.title}}</a>
                    <!-- <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
            </div>
        </div>
        <div class="col-12 col-sm justify-content-end d-flex">
            <div class="userBtnDiv">
                <button class="btn btn-default btn-sm mr-3" type="button" (click)="onFinance()">Finance</button>
                <button class="btn btn-default btn-sm" type="button" (click)="onLogistics()">Logistics</button>
            </div>
            <div class="cartDiv">
                <button class="btn btn-default btn-sm mr-3" type="button">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i> My Cart
                    <span class="badge badge-danger cartBadge">01</span>
                </button>
                <button class="btn btn-default btn-sm" type="button" (click)="onLogin()">
                    <i class="fa fa-user-o" aria-hidden="true"></i> Log In</button>
            </div>
        </div>
    </div>
</header>
