<div class="col-sm-10 pl-5 pr-5">
    <div class="w-100 mt-3">
            <div class="row breadCrumbs mt-3">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Marketplace</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Logistics</a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">Create Order</li>
                            </ol>
                        </nav>
                    </div>
                </div>
        <div class="col-sm-12">
            <h2 class="headerThree mb-3" style="font-weight:500">Manage Logistics Orders</h2>
        </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Distinct Materials</th>
                <th>Date Of Order</th>
                <th>Billing Amount</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let orderHistory of orderHistories">
            <tr>
                <td>{{orderHistory.orderId}}</td>
                <td>{{orderHistory.distinctMaterials}}</td>
                <td>{{orderHistory.dateOfOrder}}</td>
                <td>{{orderHistory.billingAmount}}</td>
                <td>
                    <div *ngIf ="orderHistory.status == 'Completed'" [style.color]="'#228B22'">{{orderHistory.status}}</div>
                    <div *ngIf ="orderHistory.status == 'In Progress'">{{orderHistory.status}}</div>
                </td>
                <td>
                    <div *ngIf ="orderHistory.status == 'Completed'" [style.color]="'blue'">Re-Order</div>
                    <div *ngIf ="orderHistory.status == 'In Progress'" [style.color]="'blue'">Track now</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>