<h2>Order History</h2>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Distinct Materials</th>
                <th>Date Of Order</th>
                <th>Billing Amount</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>XXXXXXX</td>
                <td>Cement Grey; Helmet Yellow</td>
                <td>16-10-2019</td>
                <td>Rs. 16,896</td>
                <td>In Progress</td>
                <td>Track now</td>
            </tr>
            <tr>
                <td>XXXXXXX</td>
                <td>Cement Grey; Helmet Yellow</td>
                <td>16-10-2019</td>
                <td>Rs. 16,896</td>
                <td>Completed</td>
                <td>Re-order</td>
            </tr>
            <tr>
                <td>XXXXXXX</td>
                <td>Cement Grey; Helmet Yellow</td>
                <td>16-10-2019</td>
                <td>Rs. 16,896</td>
                <td>Completed</td>
                <td>Re-order</td>
            </tr>
            <tr>
                <td>XXXXXXX</td>
                <td>Cement Grey; Helmet Yellow</td>
                <td>16-10-2019</td>
                <td>Rs. 16,896</td>
                <td>Completed</td>
                <td>Re-order</td>
            </tr>
            <tr>
                <td>XXXXXXX</td>
                <td>Cement Grey; Helmet Yellow</td>
                <td>16-10-2019</td>
                <td>Rs. 16,896</td>
                <td>Completed</td>
                <td>Re-order</td>
            </tr>
            <tr>
                <td>XXXXXXX</td>
                <td>Cement Grey; Helmet Yellow</td>
                <td>16-10-2019</td>
                <td>Rs. 16,896</td>
                <td>Completed</td>
                <td>Re-order</td>
            </tr>
        </tbody>
    </table>
</div>