<h2>Order History</h2>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Distinct Materials</th>
                <th>Date Of Order</th>
                <th>Billing Amount</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let orderHistory of orderHistories">
            <tr>
                <td>{{orderHistory.orderId}}</td>
                <td>{{orderHistory.distinctMaterials}}</td>
                <td>{{orderHistory.dateOfOrder}}</td>
                <td>{{orderHistory.billingAmount}}</td>
                <td>
                    <div *ngIf ="orderHistory.status == 'Completed'" [style.color]="'#228B22'">{{orderHistory.status}}</div>
                    <div *ngIf ="orderHistory.status == 'In Progress'">{{orderHistory.status}}</div>
                </td>
                <td>
                    <div *ngIf ="orderHistory.status == 'Completed'" [style.color]="'blue'">Re-Order</div>
                    <div *ngIf ="orderHistory.status == 'In Progress'" [style.color]="'blue'">Track now</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>