
<div class="card-header mt-2 padding-0" style="position:relative">
        <a class="collapsed" >
            <h5 class="mb-0">
                <i class="fa fa-cube float-left cubeIcon" aria-hidden="true"></i>Enter Shipment Details
            </h5>
        </a>
        <p class="prodAddBtn"><i class="fa fa-plus plusIcon" aria-hidden="true"></i> Add Packaging Details</p>
    </div>
    <div class="w-100 acordTabsDiv padding-0">
        <p class="slPara">Source Location</p>
        <ul class="nav nav-tabs w-100">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#sl1">New Address</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sl2">Pickup from Saved Addresses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sl3">Pickup from Recent Addresses</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="sl1" class="w-100 tab-pane active padding-0"><br>
                <form class="d-flex w-100 row align-items-end">
                    <div class="col-12 col-sm-5">
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Address Title</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="exampleFormControlSelect1">State</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Consignor Name</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Consignor Address</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Pickup Date</label>
                            <input type="text" class="form-control" id="datepicker" placeholder="Enter">
                        </div>
                    </div>
                    <div class="col-12 col-sm-5">
                        <div class="form-group customMargin">
                            <i class="fa fa-trash-o deleteIcon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Pincode</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Consignor Mobile</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="exampleFormControlSelect1">Consignor City</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle"><sup class="redDanger">*</sup>Number of Packed Unit</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        
                    </div>
                </form>
            </div>
            <div id="sl2" class="w-100 tab-pane fade padding-0"><br>
                
                <form class="d-flex w-100 row align-items-end">
                    <div class="col-12 col-sm-5">
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Address Title</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="exampleFormControlSelect1">State</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Consignor Name</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Consignor Address</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Pickup Date</label>
                            <input type="text" class="form-control" id="datepicker" placeholder="Enter">
                        </div>
                    </div>
                    <div class="col-12 col-sm-5">
                        <div class="form-group customMargin">
                            <i class="fa fa-trash-o deleteIcon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Pincode</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Consignor Mobile</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="exampleFormControlSelect1">Consignor City</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle"><sup class="redDanger">*</sup>Number of Packed Unit</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        
                    </div>
                </form>
            </div>
            <div id="sl3" class="w-100 tab-pane fade padding-0"><br>
                
                <form class="d-flex w-100 row align-items-end">
                    <div class="col-12 col-sm-5">
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Address Title</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="exampleFormControlSelect1">State</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Consignor Name</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Consignor Address</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Pickup Date</label>
                            <input type="text" class="form-control" id="datepicker" placeholder="Enter">
                        </div>
                    </div>
                    <div class="col-12 col-sm-5">
                        <div class="form-group customMargin">
                            <i class="fa fa-trash-o deleteIcon" aria-hidden="true"></i>
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Pincode</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle">Consignor Mobile</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        <div class="form-group customMargin">
                            <label for="exampleFormControlSelect1">Consignor City</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group customMargin">
                            <label for="PackageTitle"><sup class="redDanger">*</sup>Number of Packed Unit</label>
                            <input type="text" class="form-control" id="PackageTitle" placeholder="Enter">
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>