// app-create{width:calc(100% - 250px);overflow:hidden}
// app-manage{width:calc(100% - 246px);overflow:hidden;margin-top:20px}
@import "~ng-pick-datetime/assets/style/picker.min.css";
app-consignment{width:100%;display:flex;justify-content:flex-start}
.checkBoxesDivWrap{background:#F9F9F9;padding:1rem;background:#F9F9F9;padding:1rem}
.checkBoxesDivWrap .container{display:block;position:relative;padding-left:35px;margin:2rem 1rem;cursor:pointer;font-size:17px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.checkBoxesDivWrap .container input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}
.checkmark{position:absolute;top:0;left:0;height:20px;width:20px;background-color:#eee}
.checkBoxesDivWrap .container:hover input ~ .checkmark{background-color:#ccc}
.checkBoxesDivWrap .container input:checked ~ .checkmark{background-color:#F36F21}
.checkmark:after{content:"";position:absolute;display:none}
.checkBoxesDivWrap .container input:checked ~ .checkmark:after{display:block}
.checkBoxesDivWrap .container .checkmark:after{left:7px;top:4px;width:6px;height:10px;border:solid #fff;border-width:0 3px 3px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.checkBoxesDiv .commonBtn:hover{color:#F36F21}
body{font-family:'Roboto',sans-serif;overflow-x:hidden}
.bannerCarousel{margin-bottom:4rem}
.bannerCarousel .carouselContent{background:#000 0 0 no-repeat padding-box;opacity:.7;border-bottom:solid 3px #F36F21;margin-right:1rem;padding:1rem 1rem .5em;height:195px;display:flex;align-items:center;cursor:pointer;transition:.6s}
.bannerCarousel .carouselContent:hover{background:#F36F21}
.bannerCarousel .carouselContent>div>img{margin:10px auto 0}
.bannerCarousel .carouselContent>div>p{color:#FFF;text-align:center;margin-bottom:0;margin-top:15px}
.bannerCarousel .carouselContent>div{flex:0 0 100%}
.bannerCarousel .slick-next,.bannerCarousel .slick-prev{height:60px;background:#bfbfbf;padding:1rem;border-radius:50%;width:60px;opacity:.5}
.bannerCarousel .slick-next:before,.bannerCarousel .slick-prev:before{position:relative;font:normal normal normal 14px/1 FontAwesome;color:#000}
.bannerCarousel .slick-next:before{left:-15px;content:"\f054"}
.bannerCarousel .slick-prev:before{right:-15px;content:"\f053"}
.bannerCarousel .slick-next{right:-50px}
.bannerCarousel .slick-arrow.slick-disabled{display:none!important}
.bannerCarousel .slick-prev{left:-50px;z-index:9}
header .adDiv{background:#000;color:#FFF;font:14px/28px Roboto;}
marquee{text-align:left;letter-spacing:0;color:#FFCB08}
.removeBtnColor{border:none;background:transparent;color:#FFF;outline:none!important}
.removeBtnColor:hover{color:#F36F21}
.removeBtnColor.dropdown-toggle::after{font-size:20px;vertical-align:.1em}
.adWrap{list-style-type:none;margin-bottom:0;margin-top:3px}
.adWrap>li{display:inline-block;padding-right:.5rem;padding-left:.5rem;border-right:solid 1px;cursor:pointer}
.adWrap>li span{opacity:.7;}
.adWrap>li:hover{color:#F36F21}
.adWrap>li>span>img{width:18px;height:18px}
.adWrap>li:last-child{border-right:none}
.navDiv,.adWrap{padding:0 2rem}
.navDiv{height:60px;border-bottom:solid 1px #FFF;background:rgba(0,0,0,0) 0 0 no-repeat padding-box;box-shadow:0 3px 4px rgba(0, 0, 0, 0.16);}
.logoDiv,.productDiv{float:left;padding-right:3rem}
.productDiv{padding-top:.5rem;cursor:pointer}
.logoDiv>a{display:inline-block}
.logoDiv>a>img{width:120px}
.userBtnDiv{padding-right:1rem;border-right:solid 1px #ccc}
.cartDiv{padding-left:1rem}
.cartBadge{top:-13px!important;border-radius:50%;height:20px;width:20px;text-align:center;padding-top:5px;background:#F36F21}
.userBtnDiv button,.cartDiv button{background:transparent;outline:none!important;border:none}
.userBtnDiv button{border:2px solid #F36F21;border-radius:24px;color:#F36F21;width:160px}
.userBtnDiv button:hover{background-color:#F36F21;color:#FFF}
.cartDiv button{color:#FFF}
.cartDiv button:hover{color:#F36F21}
.cartDiv button>i{padding-right:.5rem}
.chatWrap{position:fixed;right:20px;z-index:2;bottom:10%}
.chatDIv{width:40px;height:28px;background-color:#f36f21;border-radius:4px;position:relative;color:#F6F6F6;font-size:12px;padding-top:5px;text-align:center;text-transform:uppercase;cursor:pointer;box-shadow:-2px 2px 1px #ccc}
.chatDIv:after{content:"";position:absolute;width:0;height:0;right:10px;bottom:-10px;border-left:10px solid transparent;border-right:2px solid transparent;border-top:10px solid #f36f21}
.anotherChatDiv{width:25px;height:28px;background-color:#000;position:relative;border-radius:4px;top:-24px;z-index:-1;right:5px}
.anotherChatDiv:after{content:"";position:absolute;width:0;height:0;left:10px;bottom:-10px;border-left:10px solid #000;border-right:0 solid transparent;border-bottom:10px solid transparent}
.toolTipDiv{position:fixed;z-index:2;right:-175px;top:30%;padding:.5rem;color:#FFF;border-radius:24px 0 0 24px;background:rgba(20,25,30,0.54) 0 0;width:230px;transition:.6s}
.toolTipDiv:hover{right:0}
.toolTipDiv>div{padding:10px;display:flex;align-items:center;font-size:14px}
.toolTipDiv>div>span{width:30px;height:30px;background:#f36f21;display:inline-block;text-align:center;border-radius:50%;margin-right:10px}
.toolTipDiv>div>span>svg{width:20px;height:20px;fill:#FFF;vertical-align:middle;padding-top:5px}
.footerHeader{font:16px/22px Roboto;font-weight:600}
.footerLinks{padding-left:0;list-style-type:none}
.footerLinks>li{font-size:12px;padding-bottom:.5rem}
.footerLinks>li>a{color:#666}
.footerLinks>li>a:hover{color:#F36F21;text-decoration:none}
.footerSocial{list-style-type:none;padding-left:0}
.footerSocial>li{padding:5px;display:inline-block}
.footerSocial>li>a{width:30px;height:30px;display:inline-block;text-align:center;background:#000;border-radius:50%;color:#FFF;padding-top:4px}
.footerSocial>li>a:hover{background:#F36F21}
.icon{fill:#FFF;width:15px;height:15px}
.commonBtn{background-color:#F36F21;color:#FFF;border:2px solid #F36F21;border-radius:24px;font:Bold 13px/15px Roboto;width:118px;height:40px;cursor:pointer}
.commonBtn:hover{background-color:transparent;color:#FFF}
.headerOne{font:Bold 31px/55px Roboto}
.tabsWrapDiv .slick-initialized .slick-slide{text-align:center;font-size:12px}
.tabsWrapDiv .slick-prev,.tabsWrapDiv .slick-next{top:10px;right:-40px}
.tabsWrapDiv .slick-next:before,.tabsWrapDiv .slick-prev:before{position:relative;font:normal normal normal 14px/1 FontAwesome;color:#000}
.tabsWrapDiv .slick-next:before{content:"\f054"}
.tabsWrapDiv .slick-prev:before{content:"\f053"}
.tabsWrapDiv .slick-prev{right:-20px;left:inherit;z-index:2}
.tabsWrapDiv div{cursor:pointer;font:13px/17px Roboto;text-align:left;padding-right:10px;opacity:.8}
.tabsWrap div:hover,.tabActive{font-weight:600!important;opacity:1!important}
.productsDiv{background:#FFF 0 0 no-repeat;opacity:1;margin:0 .8rem;text-align:center;-webkit-transition:.6s;-moz-transition:.6s;transition:.6s;align-self:flex-end}
.productsCat{font:11px/14px Roboto;color:#999;margin-bottom:0;margin-top:.8rem;text-align:left}
.productsTitle{font:13px/22px Roboto;font-weight:600;text-align:left}
.productsImg{margin:auto}
.productsPrice{font:20px/29px Roboto;font-weight:600;color:#008FD5;text-align:center}
.productsDiv:hover{-webkit-transform:scale(1.05,1.05);-moz-transform:scale(1.05,1.05);transform:scale(1.05,1.05);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);-moz-box-shadow:0 0 10px rgba(0,0,0,0.4);box-shadow:0 0 10px rgba(0,0,0,0.4)}
.productsDiv .commonBtn{width:160px;height:32px;-webkit-transform:scale(0);-moz-transform:scale(0);transform:scale(0);-wekit-transition:.6s;-moz-transition:.6s;transition:.6s;margin:auto;margin-bottom:1rem}
.productsDiv .commonBtn:hover{color:#F36F21}
.productsCarousel{max-width:211px}
.wishListIcon{font-size:20px;position:absolute;right:20px;top:10px;cursor:pointer}
.productsCarousel .slick-prev,.productsCarousel .slick-next{z-index:3;-webkit-transform:scale(0);-moz-transform:scale(0);transform:scale(0);-wekit-transition:.6s;-moz-transition:.6s;transition:.6s}
.wishListIcon{-webkit-transform:scale(0);-moz-transform:scale(0);transform:scale(0);-wekit-transition:.6s;-moz-transition:.6s;transition:.6s}
.productsDiv:hover .wishListIcon{transform:scale(1)!important}
.productsDiv:hover .commonBtn,.productsDiv:hover .productsCarousel .slick-prev,.productsDiv:hover .productsCarousel .slick-next{transform:scale(1)!important}
.productsCarousel .slick-next:before,.productsCarousel .slick-prev:before{position:relative;font:normal normal normal 14px/1 FontAwesome;color:#000}
.productsCarousel .slick-next:before{content:"\f054"}
.productsCarousel .slick-prev:before{content:"\f053"}
.productsCarousel .slick-next{right:0}
.productsCarousel .slick-prev{left:0}
.borderBottom{position:relative}
.borderBottom::after{content:'';position:absolute;width:100%;height:1px;background:#ccc;bottom:-10px;transform:translateX(-50%);left:50%}
.viewAll p{font:14px/28px Roboto;letter-spacing:0;color:#2680EB;cursor:pointer}
.viewAll p:hover{color:#f36f21}
.arrivalProductCarousel .productsDiv{margin:1.5rem .8rem}
.arrivalProductCarousel.slick-initialized.slick-slider > div{margin-top:0}
.arrivalProductCarousel.slick-initialized.slick-slider > button.slick-next:before,.arrivalProductCarousel.slick-initialized.slick-slider > button.slick-prev:before{position:relative;font:normal 14px/1 FontAwesome;color:#000;font-size:30px}
.arrivalProductCarousel.slick-initialized.slick-slider > button.slick-next:before{left:-15px;content:"\f054"}
.arrivalProductCarousel.slick-initialized.slick-slider > button.slick-prev:before{right:-15px;content:"\f053"}
.arrivalProductCarousel.slick-initialized.slick-slider > button.slick-next{right:-35px}
.arrivalProductCarousel.slick-initialized.slick-slider > button.slick-prev{left:-35px;z-index:9}
.arrivalProductCarousel.slick-initialized.slick-slider > button.slick-arrow.slick-disabled{display:none!important}
.tabsWrapDiv,.tabsWrap{padding-left:0}
.padding-0{padding-left: 0 !important;padding-right: 0 !important;}

.breadCrumbs .breadcrumb{background:none;padding-left:0}
.breadCrumbs .breadcrumb-item+.breadcrumb-item::before{content:"\f054";font:normal normal normal 9px/1 FontAwesome}
.breadCrumbs .breadcrumb-item>a,.breadCrumbs .breadcrumb-item{color:#707070;font-size:12px}
.breadCrumbs .breadcrumb-item>.active,.breadCrumbs .breadcrumb-item>a:hover{color:#F36F21!important}
.headerThree{font-size:20px;margin-bottom:2rem}
app-service-request,app-consignment,app-consignment-review,app-service-provider,app-manage,app-create,app-finance-landing{width:100%;display:flex;justify-content:flex-end}
.deleteIcon:hover,.consignmentBtn1:hover,.consignmentBtn2:hover,.commonBtn:hover{color:#F36F21}

// stepper

.stepwizard-step p{margin-top:0;color:#666}.stepwizard-row{display: flex !important;flex-wrap: wrap;justify-content: space-between;}.stepwizard{display:table;width:100%;position:relative}.stepwizard .btn.disabled,.stepwizard .btn[disabled],.stepwizard fieldset[disabled] .btn{opacity:1!important;color:#bbb}.stepwizard-row:before{top:14px;bottom:0;position:absolute;content:" ";width: 85% !important;height:1px;background-color:#ccc;z-index:0;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);transform:translateX(-50%)}.stepwizard-step{display:table-cell;text-align:center;position:relative}.btn-circle{width:60px;text-align:center;background:#FFF;display:inline-block}.btn-circle span{width:30px;height:30px;text-align:center;padding:6px 0;font-size:12px;line-height:1.428571429;border-radius:50%;background:#FFF;display:inline-block;border:solid 1px #BBB;color:#BBB;text-decoration:none!important}.activeCircle{border:solid 1px #F36F21!important;color:#F36F21!important}

// stepper end

.ng5-slider .ng5-slider-limit{bottom:-30px!important;color:#ccc!important}
.ng5-slider .ng5-slider-pointer{width:20px!important;height:20px!important;top:-10px!important;background:#007bff!important}
.ng5-slider .ng5-slider-pointer:after{top:6px!important;left:6px!important;background:#007bff!important}
.ng5-slider-model-value{font-size:12px!important;background:#007bff!important;color:#FFF!important;padding:.2rem .5rem!important;border-radius:12px}
.commonBtnTransparent{background:transparent;color:#F36F21}
.commonBtnTransparent:hover{background:#F36F21;color:#FFF}
.deleteIcon:hover,.consignmentBtn1:hover,.consignmentBtn2:hover{color:#F36F21}
.consignmentBtn2{width:245px}
@media(min-width:1200px) {
.customMargin2{margin-bottom:7rem!important}
}
@media(min-width:1500px) {
.customMargin2{margin-bottom:8rem!important}
}
.fourInput{width: 17%;border: none;background: transparent;border-bottom: solid 2px #717171;display: inline-block;border-radius: 0;margin-right: 3%;text-align: center;}
