<!-- <app-logistics-landing></app-logistics-landing> -->
<script src="../../../assets/scripts/steps.js"></script>
<div class="container-fluid">
    <app-header></app-header>
    <section class="row sectionOne justify-content-end">
        <aside class="sideNav">
            <ul class="navMenu">
                <li class="navMenuActive" (click)="onClick()">
                    <span>
                        <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                    </span> Create Order</li>
                <li (click)="onManage()">
                    <span>
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        <i class="fa fa-cog wishSetting" aria-hidden="true"></i>
                    </span> Manage Orders</li>
            </ul>
        </aside>
        <!-- <app-logistics-landing></app-logistics-landing> -->
        <router-outlet></router-outlet>
        <div class="col-sm-10 pl-4 pr-5" style="display:none;">
            <div class="row breadCrumbs mt-3">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Marketplace</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Logistics</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">Create Order</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-9 mb-3">
                    <h1 class="headerThree" style="font-weight:600">Create Order</h1>
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step col-xs-3">
                                <a href="#step-1" class="btn-circle">
                                    <span class="activeCircle">1</span>
                                </a>
                                <p>
                                    <small>Select Services</small>
                                </p>
                            </div>
                            <div class="stepwizard-step col-xs-3">
                                <a href="#step-2" class="btn-circle" disabled="disabled">
                                    <span>2</span>
                                </a>
                                <p>
                                    <small>Consignment Details</small>
                                </p>
                            </div>
                            <div class="stepwizard-step col-xs-3">
                                <a href="#step-3" class="btn-circle" disabled="disabled">
                                    <span>3</span>
                                </a>
                                <p>
                                    <small>Consignment Review</small>
                                </p>
                            </div>
                            <div class="stepwizard-step col-xs-3">
                                <a href="#step-4" class="btn-circle" disabled="disabled">
                                    <span>4</span>
                                </a>
                                <p>
                                    <small>Place Order</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <app-footer></app-footer>
</div>